/* body{
    color: aqua;
} */
/* .box{
    outline: 1px solid black;
    width: 100px;
} */
/* Стилізація іконки */
.link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    /* border: 1px solid tomato; */
    border-radius: 50%;
}
.link:hover,
.link:focus{
    background-color: #2196F3;
    color: #fff;
}
.icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
/* div:hover{
    color: blue;
} */